<p id="notice"><%= notice %></p>

<h1>Listing Pins</h1>


    <% @pins.each do |pin| %>
       <%=image_tag pin.image.url(:thumb) %><br/>
       <strong>Description :</strong><%= pin.description %></br>
        <%= link_to 'Show', pin, class: "btn btn-success btn-md" %>
        <% if pin.user==current_user %>
       <%= link_to 'Edit', edit_pin_path(pin), class: "btn btn-info btn-md" %>
       <%= button_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-md" %>
        <% end %>
     
    <% end %>
  

<br>

<%= link_to 'New Pin', new_pin_path %>

